In [19]:
# ! pip install google-cloud-bigtable

In [78]:
# import google cloud bigtable libraries 
from google.cloud import bigtable
from google.cloud.bigtable import column_family
from google.cloud.bigtable import row_filters
import pandas as pd

In [79]:
# Use the function:
bt_proj_id = 'grounded-gizmo-394701'
bt_inst_id = 'apache-poc-bt1994'
table_name = 'test-bt-model12'

In [80]:
def printBigtableRows(row):
    print("Row key: {}".format(row.row_key.decode('utf-8')))
    
    for column_fam, cols in sorted(row.cells.items()):
        print("Column Family {}".format(column_fam))
        for col, cells in sorted(cols.items()):
            for cell in cells:
                col_name = col.decode('utf-8')
                timestamp = cell.timestamp
                value = cell.value.decode('utf-8')
                print("\t{}:  {}   ||| Time : {}".format(col_name, value, timestamp))

In [81]:
def readBigtable(bt_proj_id, bt_inst_id, table_name):
    client = bigtable.Client(project = bt_proj_id, admin = True)
    instance = client.instance(bt_inst_id)
    #connect to table 
    table = instance.table(table_name)
    
    # Create a filter to limit the data returned.
    # For instance, this filter fetches only the latest version of each cell.
    filter_ = row_filters.CellsColumnLimitFilter(1)
    
    rows = table.read_rows(filter_=filter_)
    # print(f"Total rows fetched: {len(list(rows))}")
    # use the function above
    for r in rows:
        printBigtableRows(r)
    # print(f"Total rows fetched: {len(list(rows))}")

In [82]:
readBigtable(bt_proj_id, bt_inst_id, table_name)

Row key: SUST~1111~111111111~BCC~1111~111111111~MDL~111~SG~CCC~
Column Family cf_def
	decileGroupNum:  10   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  12   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  1111   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  1   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~2222~222222222~BCC~2222~222222222~MDL~222~SG~CCC~
Column Family cf_def
	decileGroupNum:  20   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  23   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  2222   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  2   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~3333~333333333~BCC~3333~333333333~MDL~333~SG~CCC~
Column Family cf_def
	decileGroupNum:  30   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  45   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  3333   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  3   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~4444~444444444~BCC~4444~444444444~MDL~444~SG~CCC~
Column Family cf_def
	decileGroupNum:  40   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  66   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  4444   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  4   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~5555~555555555~BCC~5555~555555555~MDL~555~SG~CCC~
Column Family cf_def
	decileGroupNum:  50   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  77   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  5555   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  5   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00

In [83]:
# def bigtabletoDataframe(bt_proj_id, bt_inst_id, table_name):
#     # Connect to Bigtable
#     client = bigtable.Client(project=bt_proj_id, admin=True)
#     instance = client.instance(bt_inst_id)
#     table = instance.table(table_name)

#     # Read rows
#     rows = table.read_rows()
#     print(f"Total rows fetched: {len(list(rows))}")
#     # rows.consume_all()
#     # print(f"Total rows fetched: {len(list(rows))}")
    
#     # Convert rows to a list of dictionaries
#     data = []
  
#     for row in rows:
#             row_data = {"row_key": row.row_key.decode('utf-8')}
#             print(row_data)
#             for column_family, columns in row.cells.items():
#                 for column, cells in columns.items():
#                     column_name = column.decode('utf-8').split(':')[-1]  # Assumes column name format is cf:column_name
#                     row_data[column_name] = cells[0].value.decode('utf-8')  # Fetches the latest cell value
#             data.append(row_data)
        
    
#     print(f"Total rows fetched: {len(list(rows))}")
    
#     # Convert list of dictionaries to DataFrame
#     df = pd.DataFrame(data)
    
#     return df

   for column_fam, cols in sorted(row.cells.items()):
        print("Column Family {}".format(column_fam))
        for col, cells in sorted(cols.items()):
            for cell in cells:
                col_name = col.decode('utf-8')
                timestamp = cell.timestamp
                value = cell.value.decode('utf-8')
                print("\t{}:  {}   ||| Time : {}".format(col_name, value, timestamp))

In [94]:
def bigtabletoDataframe(bt_proj_id, bt_inst_id, table_name, filter_number):
    # Connect to Bigtable
    client = bigtable.Client(project=bt_proj_id, admin=True)
    instance = client.instance(bt_inst_id)
    table = instance.table(table_name)
    
    filter_ = row_filters.CellsColumnLimitFilter(filter_number)
    # Read rows
    rows = table.read_rows(filter_= filter_)
    # print(f"Total rows fetched: {len(list(rows))}")
    # rows.consume_all()
    # print(f"Total rows fetched: {len(list(rows))}")
    
    # Convert rows to a list of dictionaries
    data = []
  
    for row in rows:
            row_data = {"row_key": row.row_key.decode('utf-8')}
            print("Row key: {}".format(row.row_key.decode('utf-8')))
            for column_fam, cols in sorted(row.cells.items()):
                print("Column Family {}".format(column_fam))
                for col, cells in sorted(cols.items()):
                    for cell in cells:
                        col_name = col.decode('utf-8')
                        timestamp = cell.timestamp
                        value = cell.value.decode('utf-8')
                        print("\t{}:  {}   ||| Time : {}".format(col_name, value, timestamp))
                        row_data.update({f"{col_name}" : value,"Timestamp": timestamp}) 
            
            data.append(row_data)
        
                
            # row_data = {"row_key": row.row_key.decode('utf-8')}
            # print(row_data)
            # for column_family, columns in row.cells.items():
            #     for column, cells in columns.items():
            #         column_name = column.decode('utf-8').split(':')[-1]  # Assumes column name format is cf:column_name
            #         row_data[column_name] = cells[0].value.decode('utf-8')  # Fetches the latest cell value
            # data.append(row_data)
        
    
    # print(f"Total rows fetched: {len(list(rows))}")
    
    # Convert list of dictionaries to DataFrame
    df = pd.DataFrame(data)
    
    return df

In [95]:
# df = bigtabletoDataframe(bt_proj_id, bt_inst_id, table_name)
df= bigtabletoDataframe(bt_proj_id, bt_inst_id, table_name, 1)

Row key: SUST~1111~111111111~BCC~1111~111111111~MDL~111~SG~CCC~
Column Family cf_def
	decileGroupNum:  10   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  12   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  1111   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  1   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~2222~222222222~BCC~2222~222222222~MDL~222~SG~CCC~
Column Family cf_def
	decileGroupNum:  20   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  23   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  2222   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  2   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~3333~333333333~BCC~3333~333333333~MDL~333~SG~CCC~
Column Family cf_def
	decileGroupNum:  30   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  45   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  3333   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  3   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~4444~444444444~BCC~4444~444444444~MDL~444~SG~CCC~
Column Family cf_def
	decileGroupNum:  40   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  66   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  4444   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  4   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00
Row key: SUST~5555~555555555~BCC~5555~555555555~MDL~555~SG~CCC~
Column Family cf_def
	decileGroupNum:  50   ||| Time : 2023-09-06 01:30:19.750000+00:00
	last_updt_user_id:  77   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelId:  5555   ||| Time : 2023-09-06 01:30:19.750000+00:00
	modelName:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoreAmt:  5   ||| Time : 2023-09-06 01:30:19.750000+00:00
	scoringLevelCd:  smth   ||| Time : 2023-09-06 01:30:19.750000+00:00
	typeCd:  WW   ||| Time : 2023-09-06 01:30:19.750000+00:00

In [96]:
display(df)

,row_key,decileGroupNum,Timestamp,last_updt_user_id,modelId,modelName,scoreAmt,scoringLevelCd,typeCd
0,SUST~1111~111111111~BCC~1111~111111111~MDL~111...,10,2023-09-06 01:30:19.750000+00:00,12,1111,smth,1,smth,WW
1,SUST~2222~222222222~BCC~2222~222222222~MDL~222...,20,2023-09-06 01:30:19.750000+00:00,23,2222,smth,2,smth,WW
2,SUST~3333~333333333~BCC~3333~333333333~MDL~333...,30,2023-09-06 01:30:19.750000+00:00,45,3333,smth,3,smth,WW
3,SUST~4444~444444444~BCC~4444~444444444~MDL~444...,40,2023-09-06 01:30:19.750000+00:00,66,4444,smth,4,smth,WW
4,SUST~5555~555555555~BCC~5555~555555555~MDL~555...,50,2023-09-06 01:30:19.750000+00:00,77,5555,smth,5,smth,WW

In [97]:
# creating a function that only reads
# check for bigtable function that is able to abstract the for-loop